:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 75%);
  --font-medium: 400;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.overlay {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  z-index: 998;
}

.overlay.active {
  display: flex;
}

.container__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

@media (min-width: 920px) {
  .container__nav {
    height: 90px;
    width: 85%;
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 3em;
    padding: 0;
  }
}

.wrapper__logo__menu {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  height: 50px;
  width: 75%;
}

.wrapper__hamburger {
  border: none;
  background: transparent;
}

@media (min-width: 920px) {
  .wrapper__hamburger {
    display: none;
  }
}

.wrapper__logo {
  padding-left: 1em;
}

@media (min-width: 920px) {
  .wrapper__logo {
    padding-left: 0;
  }
}

.wrapper__close__menu {
  background: url(./images/icon-close.svg) no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin-bottom: 2em;
}

@media (min-width: 920px) {
  .wrapper__close__menu {
    display: none;
  }
}

.wrapper__menu {
  background-color: var(--white);
  font-weight: var(--font-bold);
  line-height: 2;
  position: absolute;
  list-style: none;
  top: 0;
  transform: translateX(-900px);
  transition: transform 0.5s ease-in-out;
  width: 80%;
  height: 100vh;
  padding: 1em;
  z-index: 999;
}

@media (min-width: 920px) {
  .wrapper__menu {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0px);
    height: 50px;
    width: 60%;
    padding-left: 3em;
    font-weight: var(--font-medium);
    z-index: 996;
  }

  .wrapper__menu > a {
    cursor: pointer;
    color: var(--grayish-blue);
  }

  .wrapper__menu > a:hover,
  .wrapper__menu > a:focus {
    color: var(--dark-grayish-blue);
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 3px;
    text-underline-offset: 2.3rem;
  }
}

.wrapper__menu.active {
  transform: translateX(-15px);
}

.wrapper__menu > a {
  color: var(--very-dark-blue);
  text-decoration: none;
}

.wrapper__cart__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  cursor: pointer;
}

@media (min-width: 920px) {
  .wrapper__cart__user {
    padding: 0;
    width: 10%;
  }
}

.wrapper__cart {
  position: relative;
}

.cart {
  position: absolute;
  left: -15rem;
  width: 22rem;
  height: 14rem;
  transform:translateY(-50rem);
  transition: transform .3s .3s ease;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 30px;;
  background: var(--white);
  z-index: 1200;
}

.cart> h4 {
  padding: 1rem;
  border-bottom: 1px solid var(--grayish-blue);
}

.cart > p:first-of-type,
.cart > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
}

.cart.visible {
  transform: translateY(3rem);
}

.cart__thumb {
  position: absolute;
  width: 1rem;
  height: .6rem;
  background: var(--orange);
  font-size: .5rem;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  top: 0rem;
  left: .5rem;
}

.button__trash {
  height: 1rem;
  width: 1rem;
  background: url(./images/icon-delete.svg) no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.button__checkout {
  width: 90%;
  height: auto;
  background: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.wrapper__cart__inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.wrapper__cart__image > img {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper__cart > img {
  height: 20px;
  width: 20px;
}

.wrapper__user > img {
  height: 25px;
  width: 25px;
}

@media (min-width: 920px) {
  .wrapper__user > img {
    height: 50px;
    width: 50px;
  }
}

.container__main {
  width: 100vw;
  height: 80%;
}

@media (min-width: 920px) {
  .container__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  .container__main {
    width: 75vw;
  }
}

.wrapper__image__main,
.list__image__main {
  position: relative;
  list-style: none;
  height: 20rem;
  width: 100vw;
}

@media (min-width: 920px) {
  .wrapper__image__main,
  .list__image__main {
    height: 50vh;
    width: 35vw;
  }

  .list__image__main > li > img {
    border-radius: 13px;
  }
}

.list__image__main > li,
.list__image__main > li > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.list__image__main > li > img {
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s 0.3s ease-in-out;
}

.list__image__main > li.active > img {
  opacity: 1;
  transition-delay: 0s;
  z-index: 1;
}

.wrapper__image__main > .arrow {
  cursor: pointer;
  position: absolute;
  z-index: 997;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: none;
}

.wrapper__image__main > .arrow:hover {
filter:brightness(1) sepia(1) hue-rotate(-30deg) saturate(3);
}

.wrapper__image__main > .arrow__left {
  background-image: url('./images/icon-previous.svg');
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper__image__main > .arrow__right {
  background-image: url('./images/icon-next.svg');
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper__thumbs {
  display: none;
}

@media (min-width: 920px) {
  .wrapper__thumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding-top: 2em;
  }

  .wrapper__thumbs > li,
  .wrapper__thumbs > li > img {
    width: 6rem;
    height: 6rem;
    border-radius: 13px;
    cursor: pointer;
  }

  .wrapper__thumbs > li {
    background: var(--white);
  }

  .checked > img {
    opacity: .3;
    border: 3px solid var(--orange);
    border-radius: 13px;
  }
}

.article__main {
  padding: 1em;
}

header > p {
  text-transform: uppercase;
  color: var(--orange);
  font-weight: var(--font-bold);
  font-size: 12px;
  letter-spacing: 0.15em;
}

header > h1 {
  font-size: 1.7rem;
  color: var(--dark-grayish-blue);
  padding: 0.5em 0;
}

@media (min-width: 1200px) {
  header > h1 {
  font-size: 2.5rem;
  }
}

p {
  line-height: 1.5;
  color: var(--grayish-blue);
  font-size: 16px;
  padding: 0.5em 0;
}

.wrapper__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 920px) {
  .wrapper__price {
    flex-direction: column;
    align-items: baseline;
    line-height: 1.5;
  }
}

.wrapper__price > h2 {
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
}

.wrapper__price > h2 > span {
  color: var(--orange);
  background-color: var(--pale-orange);
  font-size: 16px;
  padding: 0.3em;
  border-radius: 5px;
  border: none;
  margin-left: 1em;
}

.wrapper__price > h3 {
  color: var(--grayish-blue);
  text-decoration: line-through;
  font-size: 16px;
}

.wrapper__add__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

@media (min-width: 920px) {
  .wrapper__add__product {
    flex-direction: row;
  }
}

.wrapper__input {
  border: none;
  border-radius: 5px;
  background-color: var(--light-grayish-blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 920px) {
  .wrapper__input {
    width: 40%;
  }
}

#input__add__product {
  outline: none;
  border: none;
  background: var(--light-grayish-blue);
  padding: 1.2em;
  pointer-events: none;
}

.button__minus,
.button__plus {
  height: 2em;
  width: 15px;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.button__minus {
  background: url("./images/icon-minus.svg") no-repeat center center;
  margin-left: 1em;
}

.button__plus {
  background: url("./images/icon-plus.svg") no-repeat center center;
  margin-right: 1em;
}

.button__add__product {
  background: var(--orange);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-weight: var(--font-bold);
  padding: 1.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__add__product > img {
  filter: brightness(1000);
  padding-right: 1em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.visible {
  animation: fade-in .5s linear;
  position: absolute;
  top: 15%;
  z-index: 9999;
}

.visible > .wrapper__image__main,
.visible > .wrapper__image__main >.list__image__main {
  height: 60vh;
  width: 40vw;
}

.visible > .wrapper__image__main > .arrow {
  width: 60px;
  height: 60px;
}

.visible > .wrapper__image__main > .arrow__left {
  left: -1.8rem;
}

.visible > .wrapper__image__main > .arrow__right {
  right: -1.8rem;
}

.visible > .wrapper__thumbs {
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button__close__lightbox {
  cursor: pointer;
  background: url('./images/icon-close.svg') no-repeat center center;
  background-size: contain;
  filter: brightness(1000);
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5rem;
  right: -1rem;
  z-index: 9999;
}

.button__close__lightbox:hover {
  filter:brightness(1) sepia(1) hue-rotate(-30deg) saturate(3);
}

footer {
  position: fixed;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
